@import "~bootstrap";
@import "~bootstrap/scss/variables";

.table-area {
    background-color: $white;
    border-radius: 6px;
    border: 1px solid $gray-300;
    box-shadow: 1px 1px 5px 0 $gray-400;
    min-height: 300px;
}

.dangerous-icon {
    width: 24px;
}
