@import "~bootstrap";
@import "~bootstrap/scss/variables";

.form-area {
    background-color: $white;
    border-radius: 6px;
    border: 1px solid $gray-300;
    box-shadow: 1px 1px 5px 0 $gray-400;
    min-height: 300px;

    .paw-trail {
        width: 400px;
    }

    .tell-us-title {
        color: $blue-700;
        font-weight: bold;
    }

    #breed {
        border-right: 0;
    }

    .search-icon-container {
        background-color: #fff;
        border-left: 0;
        border-radius: 0 6px 6px 0 !important;
    }

    .search-icon {
        width: 16px;
    }

    .switch-unselected {
        color: #00A0E1;
        border: 1px solid darken(#00A0E1, 5);
        background-color: $white;

        &:hover {
            color: #00A0E1;
            border: 1px solid darken(#00A0E1, 10);
            background-color: lighten(#00A0E1, 52);
        }

        &:active, &:focus {
            outline: none;
            box-shadow: none;
            color: #00A0E1;
            border: 1px solid darken(#00A0E1, 15);
            background-color: lighten(#00A0E1, 50) !important;
        }
    }

    .continue-button {
        width: 200px;

        &:disabled {
            border: 1px solid lighten(#00A0E1, 5);
            background-color: lighten(#00A0E1, 10);
        }
    }

    .continue-button, .switch-selected {
        color: $white;
        border: 1px solid darken(#00A0E1, 5);
        background-color: #00A0E1;

        &:hover {
            color: $white;
            border: 1px solid darken(#00A0E1, 10);
            background-color: darken(#00A0E1, 5);
        }

        &:active, &:focus {
            outline: none;
            box-shadow: none;
            color: $white;
            border: 1px solid darken(#00A0E1, 15);
            background-color: darken(#00A0E1, 10) !important;
        }
    }

    .birthday-part-labels {
        font-size: 0.75rem;
    }
}
