{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/base.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/home.css') }}">
{% endblock %}

{% block body %}
    <h1>Random number test</h1>
    <div class="important">{{ number }}</div>
{% endblock %}
